@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rakkas&family=Sacramento&display=swap');

h1,a{
    font-family: "Rakkas", serif;
}

.result p{
    font-family: "Bebas Neue", sans-serif;
}

body {
    color: white;
    margin: 0;
    background-color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

header img, header > a{
    width: 220px;
    grid-column: 1/2;
    margin-bottom: -20px;
}

h1{
    color:white;
    font-size: 2.8em;
    line-height: 1.4em;
    text-align: center;
    grid-column:2/3;
    grid-row: 1/2;
}

nav{
    grid-column: 2/3;
    text-align: center;
}

header > nav > a{
    color: white;
    text-decoration: none;
    margin: 10px;
    text-transform: uppercase;
}

header > nav > a:hover{
    background-color:rgb(110, 111, 111);
}

main{
    padding: 100px 25vw 50px 25vw;
    min-height: 55vh;
}

.soccer{
    background: white;
    padding: 50px 15vw 100px 15vw;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: center;
}

.soccer img{
    width: 600px
}

h2{
    font-family: Malamondo;
    font-weight: 1000;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 1.5em;
}

.soccer h2{
    margin-left: 100px;
}

section p{
    font-family: Malamondo;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.soccer p{
    margin-left: 100px;
}

section > nav > a{
    color:blue;
    text-decoration: none;
    margin: 10px;
    text-transform:none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

footer{
    text-align: center;
}

.result{
    background: white;
    padding: 50px 15vw 100px 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result p{
    font-size: 4.0em;
}

.result img{
    width: 300px;
    margin-bottom: 20px;
}

.result a{
    margin-left: 240px;
 }

.film{
    background: white;
    padding: 50px 15vw 100px 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.film img{
    width: 300px;
    margin-bottom: 20px;
}

.team-sheet{
    background: white;
    padding: 50px 15vw 100px 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-sheet img{
    width: 300px;
    margin-bottom: 20px;
}

.analisis{
    background: white;
    padding: 50px 15vw 100px 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.analisis a{
    display: flex;
    margin-left: 120px;
}

@media (max-width: 1284px){
    

    .soccer{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .soccer img{
        width: 900px;
    }
    
    .soccer h2, .soccer p{
        margin-left: 0px;
    }

    .soccer nav{
        margin-right: 90px;
    }

    h2{
        margin-left: 0px;
    }

    section p{
        margin-left: 0px;
    }

    section > nav > a{
        display: grid;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
    }

    .result h2, .film h2, .team-sheet h2, .analisis h2{
        font-size: 1.3em;
    }

    .result p{
        font-size: 2em;
    }

    .result img{
        width: 300px;
        margin-bottom: 10px;
    }

    .film img{
        width: 300px;
        margin-bottom: 10px;
    }

    .team-sheet img{
        width: 300px;
        margin-bottom: 10px;
    }

    .analisis a{
        margin-left: 100px;
    }

    .result a{
        margin-left: 180px;
     }
}

@media (max-width: 700px){
    header{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    header img, header > a{
        width: 140px;
        grid-column: 1/2;
        margin-left: 0px;
    }
    
    h1{
        color:white;
        font-size: 1.5em;
        line-height: 1.4em;
        text-align: center;
        grid-column: 2/4;
        grid-row: 1/2
    }
    
    nav{
        grid-column: 1/4;
        text-align: center;
    }

    .soccer{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .soccer h2, .soccer p{
        margin-left: 0px; 
    }

    .soccer nav{
        margin-right: 90px;
    }

    .soccer img{
        width: 500px;
    }

    h2{
        margin-left: 0px;
    }

    section p{
        margin-left: 0px;
    }

    section > nav > a{
        display: grid;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
    }

    .result h2, .team-sheet h2, .analisis h2{
        font-size: 1.3em;
    }

    .result p{
        font-size: 2em;
    }

    .result img{
        width: 200px;
        margin-bottom: 10px;
    }

    .film img{
        width: 200px;
        margin-bottom: 10px;
    }

    .team-sheet img{
        width: 200px;
        margin-bottom: 10px;
    }

    .analisis a{
        margin-left: 70px;
    }

    .result a{
        margin-left: 170px;
     }
}