body{
    background-color: #F0F4EF;
}

header{
    background-color: #b4cded;
    text-align: center;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
    background-color: black;
    text-align: center;
    padding: 20px;
}

a:link, a:visited{
    text-decoration: none;
    font-weight: bold;
    color:white;
    margin-right: 10px;
}

img{
    margin-right: 10px;
}

footer{
    background-color: #344966;
    color:white;
    text-align: center;
}

