body {
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
}

section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid gray;
}
img{
    margin: 10px;
}
